.flexContainer {
    display: flex;
   flex-direction: row;
   


}
.workGrid{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%; 

}
.interviews{
    width: 33%;
}
.research{
    width: 33%;
}
.empathy{
    width: 33%
}
@media only screen and (max-width: 600px) {
    .flexContainer { 
        flex-direction: column;
    }
    .interviews{
            width: 100%;
        }
        .research{
            width: 100%;
        }
        .empathy{
            width: 100%
        }
        .workGrid{
                grid-template-rows: 25% 25% 25% 25%; 
        }